.cllas{
   
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 50px;
}
.minus{
    width: 200px;
}
.lol{
     display: flex;
    justify-content: space-evenly;
}
.llo{
    border-radius: 10px;
   
   border-color: rgb(153, 12, 12);
}
.lolo{
  border-radius: 10px;
}

.rt{
    width: 150px;
    height: 50px;
    border-radius: 5px;
    border-color: blue;

}
.tr{
    width: 150px;
    height: 50px;
    border-radius: 5px;
    border-color: rgb(167, 164, 6);
}
.lk{
    color: chartreuse;
}
.kl{
    background-color: brown;
    color: aliceblue;
    width: 150px;
    height: 60px;
}
.container{
    display: flex;
    gap: 10px;
}
.box{
    display: flex;
    gap: 18px;
/* width: 1200px; */
justify-content: center;
}
.hj{
    width: 550px;
    height: 600px;
}
.rtrt{
    font-size: 70px;

}
.bojo{
    font-size: 30px;
}
.ioio{
    font-size: 25px;
}
.df{
    padding: 20px;
    
}

a {
    text-decoration: none;
    color: black;
}